.cabecalho{

    background-color: blue;
display: flex;
justify-content: space-around;
align-items: center;
}
*{
   margin: 0%;
padding: 0%;
}
.lista-cabecalho{
    color: rgb(10, 2, 2)
}
.lista-cabecalho{ background-color: #1267f1 ;
}

.primeira-parte { background-image : linear-gradient( #0b0f14,#4ebfe9:):
    height: 500px;
    color: #FFFFF ; 
    padding: 100px;
}
.li



    
    );}